
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head th:fragment="head-style">
		<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	</head>
	<body>
		<div th:fragment="header">
			<div class="jumbotron">
				<h1>Blog Application</h1>
			</div>
		</div>
		<div th:fragment="body-style">
			<!-- jQuery library -->
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
			<!-- Latest compiled JavaScript -->
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		</div>
	</body>
</html>

